
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: auto;
  margin-left: 480px;
  margin-right: 480px;
  margin-top: 40px;
  height: 370px;
}

.login-container {
  text-align: center;
 
}



.textpanel {
  padding: 8px;
}

.submit_btn{
  padding: 12px;
  margin-left: 20px;
  color: #3ea6ff;
  font-size: 15px bold;
  /* border-radius: 20px; */
  border-radius: 0.1rem;
  /* background-color: red; */
  background-color: rgb(36,36,36);
  cursor: pointer;
  border-color:  #3ea6ff;
  ;
  font-weight: bold;
}